# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [1]:
# your code here
import pandas as pd
import numpy as np

#### 2. Use the `apple_store.sql` file to create a new database in mySQL workbench with that data. Once loaded, try to answer the following questions using mySQL workbench:

 - How many apps are there in the data source?
 - What is the average rating of all apps?
 - How many apps have an average rating no less than 4?
 - How many genres are there in total for all the apps?
 - Which genre is most likely to contain free apps?

In [ ]:
# your answers here
How many apps are there in the data source?
SELECT COUNT(*) AS total_apps
          FROM apple_store;
Ans) 7197

What is the average rating of all apps?
SELECT AVG(user_rating) AS avg_rating
FROM apple_store;
Ans) 3.526955675976101

How many apps have an average rating no less than 4?
SELECT COUNT(*) AS apps_rating_above_4
FROM apple_store
WHERE user_rating >= 4;
Ans) 4781

How many genres are there in total for all the apps?
SELECT COUNT(DISTINCT prime_genre) AS total_genres
FROM apple_store;
Ans)23

Which genre is most likely to contain free apps?
SELECT prime_genre, COUNT(*) AS free_apps_count
FROM apple_store
WHERE price = 0
GROUP BY prime_genre
ORDER BY free_apps_count DESC
LIMIT 1;
Ans)2257

#### 3. Create a SQL connection in this notebook and load the `apple_store` dataset. Assign it to a variable called `data`, which would be a pandas dataframe.

In [4]:
# your code here
# Import necessary libraries
import pandas as pd
import mysql.connector

# MySQL connection parameters
db_config = {
    'user': 'root',
    'password': 'Test123456789!',
    'host': 'localhost',
    'database': 'apple_store' 
}

# Establish a connection to MySQL
try:
    conn = mysql.connector.connect(**db_config)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print(f"Error: {err}")

# SQL query to fetch data from the 'apple_store' table in MySQL
query = "SELECT * FROM apple_store"

# Load data into a Pandas DataFrame
try:
    data = pd.read_sql(query, con=conn)
    print("Data loaded successfully into Pandas DataFrame")
except Exception as e:
    print(f"Error loading data: {str(e)}")

# Close the MySQL connection
conn.close()
print("MySQL connection closed")

# Display the first few rows of the DataFrame
data.head()

Error: 1049 (42000): Unknown database 'apple_store'
Error loading data: MySQL Connection not available.
MySQL connection closed

C:\Users\navin\AppData\Local\Temp\ipykernel_19636\1785811708.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, con=conn)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4,4.5,Games
1,281796108,Evernote - stay organized,158578688,0,161065,26,4,3.5,Productivity
2,281940292,"""WeatherBug - Local Weather, Radar, Maps, Alerts""",100524032,0,188583,2822,3.5,4.5,Weather
3,282614216,"""eBay: Best App to Buy, Sell, Save! Online Sho...",128512000,0,262241,649,4,4.5,Shopping
4,282935706,Bible,92774400,0,985920,5320,4.5,5,Reference

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [6]:
# your code here
# SQL query to fetch data from the 'apple_store' table in MySQL
query = "SELECT * FROM apple_store"

# Load data into a Pandas DataFrame
try:
    data = pd.read_sql(query, con=conn)
    print("Data loaded successfully into Pandas DataFrame")
except Exception as e:
    print(f"Error loading data: {str(e)}")

# Close the MySQL connection
conn.close()
print("MySQL connection closed")

# Display the first few rows of the DataFrame
data.head(5)

Error loading data: MySQL Connection not available.
MySQL connection closed

C:\Users\navin\AppData\Local\Temp\ipykernel_19636\158044806.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, con=conn)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4,4.5,Games
1,281796108,Evernote - stay organized,158578688,0,161065,26,4,3.5,Productivity
2,281940292,"""WeatherBug - Local Weather, Radar, Maps, Alerts""",100524032,0,188583,2822,3.5,4.5,Weather
3,282614216,"""eBay: Best App to Buy, Sell, Save! Online Sho...",128512000,0,262241,649,4,4.5,Shopping
4,282935706,Bible,92774400,0,985920,5320,4.5,5,Reference

5. Print the summary of the data.

In [12]:
# your code here    
# Display the first few rows of the DataFrame
print("First 5 rows of the data:")
print(data.head())

# Display the summary of the data
print("\nSummary of the data:")
print(data.describe(include='all'))

# Display the concise summary of the DataFrame
print("\nConcise summary of the DataFrame:")
print(data.info())

First 5 rows of the data:
          id                                         track_name size_bytes  \
0  281656475                                    PAC-MAN Premium  100788224
1  281796108                          Evernote - stay organized  158578688
2  281940292  "WeatherBug - Local Weather, Radar, Maps, Alerts"  100524032
3  282614216  "eBay: Best App to Buy, Sell, Save! Online Sho...  128512000
4  282935706                                              Bible   92774400

  price rating_count_tot rating_count_ver user_rating user_rating_ver  \
0  3.99            21292               26           4             4.5
1     0           161065               26           4             3.5
2     0           188583             2822         3.5             4.5
3     0           262241              649           4             4.5
4     0           985920             5320         4.5               5

    prime_genre
0         Games
1  Productivity
2       Weather
3      Shopping
4     Reference

Summary of the data:
               id         track_name size_bytes price rating_count_tot  \
count        7197               7197       7197  7197             7197
unique       7197               7195       7107    36             3185
top     281656475  VR Roller Coaster   31624192     0                0
freq            1                  2          3  4056              929

       rating_count_ver user_rating user_rating_ver prime_genre
count              7197        7197            7197        7197
unique             1138          10              10          23
top                   0         4.5             4.5       Games
freq               1443        2663            2205        3862

Concise summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   object
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   object
 3   price             7197 non-null   object
 4   rating_count_tot  7197 non-null   object
 5   rating_count_ver  7197 non-null   object
 6   user_rating       7197 non-null   object
 7   user_rating_ver   7197 non-null   object
 8   prime_genre       7197 non-null   object
dtypes: object(9)
memory usage: 506.2+ KB
None

 6. Print the number of columns in the data.

In [15]:
# your code here
# Print the number of columns in the data
num_columns = data.shape[1]
print(f"Number of columns in the data: {num_columns}")

Number of columns in the data: 9

#### 7. Print all column names.

In [16]:
# your code here
# Print all column names
column_names = data.columns
print("Column names in the data:")
for col in column_names:
    print(col)

Column names in the data:
id
track_name
size_bytes
price
rating_count_tot
rating_count_ver
user_rating
user_rating_ver
prime_genre

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [17]:
# your code here
# Print the number of observations (rows) in the DataFrame
num_apps = data.shape[0]
print("Number of apps in the data source:", num_apps)

Number of apps in the data source: 7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [23]:
# your code here
# Ensure 'user_rating' column is numeric, handle non-numeric values
data['user_rating'] = pd.to_numeric(data['user_rating'], errors='coerce')

# Extract 'user_rating' column into a variable
user_rating = data['user_rating']

# Print first few values to verify
print(user_rating.head())

0    4.0
1    4.0
2    3.5
3    4.0
4    4.5
Name: user_rating, dtype: float64

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [24]:
# your code here
# Calculate average of 'user_rating' column
average_rating = data['user_rating'].mean()

# Print the average rating
print(average_rating)

3.526955675976101

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [26]:
# your code here
# Filter the DataFrame where user_rating is >= 4
user_rating_high = data[data['user_rating'] >= 4]

Now obtain the length of `user_rating_high` which should return 4781.

In [27]:
# your code here
# Length of user_rating_high
num_apps_high_rating = len(user_rating_high)

# Print the result
print(num_apps_high_rating)

4781

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [31]:
# your code here
# Extract the prime_genre column
genres = data['prime_genre']

# Get unique values of genres
unique_genres = genres.unique()

Print the length of the unique values of `genres`. Your code should return 23.

In [30]:
# your code here
# Calculate the number of unique genres
num_genres = len(unique_genres)

# Print the result
print(num_genres)

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [32]:
# your code here
# Count the number of apps for each genre
top_genres = data['prime_genre'].value_counts()

# Print the top 3 genres
print(top_genres.head(3))

prime_genre
Games            3862
Entertainment     535
Education         453
Name: count, dtype: int64

 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [39]:
# your code here
# Filter data where price is 0.00 (free apps)
free_apps = data[data['price'] == 0.00]

# Count the number of apps for each genre in free_apps
free_apps_counts = free_apps['prime_genre'].value_counts()

# Print the result
print(free_apps_counts)
#looks like there are no free app based on the output

Series([], Name: count, dtype: int64)

In [38]:
unique_prices = data['price'].unique()
print(unique_prices)

['3.99' '0' '0.99' '9.99' '4.99' '7.99' '2.99' '1.99' '5.99' '12.99'
 '21.99' '249.99' '6.99' '74.99' '19.99' '8.99' '24.99' '13.99' '14.99'
 '16.99' '47.99' '11.99' '59.99' '15.99' '27.99' '17.99' '299.99' '49.99'
 '23.99' '20.99' '39.99' '99.99' '29.99' '34.99' '18.99' '22.99']

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [42]:
# your code here
# Calculate total apps per genre
total_apps_per_genre = data['prime_genre'].value_counts()

#  Calculate free apps per genre
free_apps = data[data['price'] == 0]
free_apps_per_genre = free_apps['prime_genre'].value_counts()

#  Calculate proportion of free apps in each genre
proportion_free_apps = free_apps_per_genre / total_apps_per_genre

# Print the result
print(proportion_free_apps)

prime_genre
Book                NaN
Business            NaN
Catalogs            NaN
Education           NaN
Entertainment       NaN
Finance             NaN
Food & Drink        NaN
Games               NaN
Health & Fitness    NaN
Lifestyle           NaN
Medical             NaN
Music               NaN
Navigation          NaN
News                NaN
Photo & Video       NaN
Productivity        NaN
Reference           NaN
Shopping            NaN
Social Networking   NaN
Sports              NaN
Travel              NaN
Utilities           NaN
Weather             NaN
Name: count, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [46]:
# your code here
#Inspect data types
print(data.dtypes)

#  Convert 'price' column to numeric (if needed)
data['price'] = pd.to_numeric(data['price'], errors='coerce')

# Filter out free apps (price greater than 0)
paid_apps = data[data['price'] > 0]

# Group by genre and calculate the average price
average_price_by_genre = paid_apps.groupby('prime_genre')['price'].mean().reset_index()

# Sort by average price in descending order
average_price_by_genre = average_price_by_genre.sort_values(by='price', ascending=False)

# Reset index for better presentation 
average_price_by_genre.reset_index(drop=True, inplace=True)

# Print the result
print(average_price_by_genre)

id                   object
track_name           object
size_bytes           object
price               float64
rating_count_tot     object
rating_count_ver     object
user_rating         float64
user_rating_ver      object
prime_genre          object
dtype: object
          prime_genre      price
0             Medical  13.456667
1               Music   9.398451
2            Catalogs   7.990000
3            Business   7.881892
4          Navigation   7.297692
5           Reference   7.035455
6        Productivity   6.645172
7           Education   5.684704
8        Food & Drink   4.890000
9                Book   4.359565
10             Travel   3.630000
11              Games   3.447944
12   Health & Fitness   3.316923
13             Sports   3.104286
14          Utilities   2.939640
15      Photo & Video   2.825165
16            Weather   2.819268
17          Lifestyle   2.550000
18      Entertainment   2.368109
19  Social Networking   2.365000
20               News   2.284118
21            Finance   2.190000
22           Shopping   1.990000

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [50]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the head() function.

In [51]:
# Your code here:
# Display the first few rows to understand the structure of the dataset
print(pm25.head())

# Define a function to apply a transformation (e.g., converting all cells to uppercase)
def transform_cell(cell_value):
    if isinstance(cell_value, str):
        return cell_value.upper()  # Example transformation: convert to uppercase
    else:
        return cell_value  # Return unchanged for non-string values

# Apply the function to transform all cells in the DataFrame
pm25_transformed = pm25.applymap(transform_cell)

# Display the first few rows of the transformed DataFrame
print(pm25_transformed.head())

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0
   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

C:\Users\navin\AppData\Local\Temp\ipykernel_19636\4205504246.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pm25_transformed = pm25.applymap(transform_cell)

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [53]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    if isinstance(x, (int, float)):
        return x / 24
    else:
        return x  # Return unchanged for non-numeric values

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [54]:
# Your code here:
# Apply the hourly function to columns Iws, Is, and Ir
pm25_hourly = pm25[['Iws', 'Is', 'Ir']].apply(hourly)

# Display the first few rows of the transformed dataframe
print(pm25_hourly.head())

     Iws  Is  Ir
0   1.79   0   0
1   4.92   0   0
2   6.71   0   0
3   9.84   0   0
4  12.97   0   0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [67]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series, minus 1 
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:

    std_dev = np.std(x)  # Calculate standard deviation using NumPy
    n_minus_1 = x.count() - 1  # Calculate (n-1) using Pandas .count() method
    return std_dev / n_minus_1

# Example usage:
example_series = pd.Series([1, 2, 3, 4])
print(sample_sd(example_series))

0.37267799624996495